Running build in Washington, D.C., USA (East) – iad1
Build machine configuration: 2 cores, 8 GB
Cloning github.com/Lucas-Muto/MyWallet-FrontEnd (Branch: main, Commit: 6824705)
Previous build caches not available
Cloning completed: 257.000ms
Running "vercel build"
Vercel CLI 41.7.3
Running "install" command: `npm install`...
added 343 packages, and audited 344 packages in 13s
137 packages are looking for funding
  run `npm fund` for details
found 0 vulnerabilities
Detected Next.js version: 15.3.2
Running "npm run dev"
> mywallet-frontend@0.1.0 dev
> next dev
 ⚠ You are using a non-standard "NODE_ENV" value in your environment. This creates inconsistencies in the project and is strongly advised against. Read more: https://nextjs.org/docs/messages/non-standard-node-env
   ▲ Next.js 15.3.2
   - Local:        http://localhost:3000
   - Network:      http://192.168.222.78:3000# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
